/* strat scroll to top */
.scroll-to-top {
  position: fixed;
  background-color: $main-color;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  bottom: 20px;
  right: -50px;
  z-index: 100;
  border-radius: 5px;
  cursor: pointer;
  transition: $main-transition;

  &.show {
    right: 20px;
  }
}
/* end scroll to top */
